<div class="container py-4 content">
<form class="row gx-3 gy-2 align-items-end mb-5 justify-content-center" #colourForm="ngForm" (ngSubmit)="addColourPair()">

  <div class="col-auto position-relative">
    <label for="mainInput" class="form-label">Main</label>
    <input
      id="mainInput"
      name="main"
      [(ngModel)]="newMain"
      type="text"
      class="form-control"
      required
      pattern="#[0-9a-fA-F]{6}"
      #mainInput="ngModel"
    />
    @if(mainInput.invalid && mainInput.touched){
      <div class="form-text text-danger position-absolute small error-message">
        Niepoprawny HEX (np. #1a2b3c)
      </div>
    }
  </div>
  <div class="col-auto position-relative">
    <label for="secondaryInput" class="form-label">Secondary</label>
    <input
      id="secondaryInput"
      name="secondary"
      [(ngModel)]="newSecondary"
      type="text"
      class="form-control"
      required
      pattern="#[0-9a-fA-F]{6}"
      #secondaryInput="ngModel"
    />
    @if(secondaryInput.invalid && secondaryInput.touched){
      <div class="form-text text-danger position-absolute small error-message">
        Niepoprawny HEX (np. #aabbcc)
      </div>
    }
  </div>

  <div class="col-auto">
    <button class="btn btn-primary" type="submit" [disabled]="!colourForm.valid">
      Dodaj
    </button>
  </div>

</form>


  <div class="row justify-content-center g-4">
    @for(pair of colourPairs; track pair){
    <div class="col-auto" >
      <app-colour-button-pairs
      [id]="pair.id"
      [mainColor]="pair.main"
      [secondaryColor]="pair.secondary"/>
    </div>
    }
    </div>
</div>



